@use '../../styles/variables';

.navigationLinksMobile {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: variables.$primary-red;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out;

  &.active {
    transform: translateY(0);
  }

  .userInnerMobile {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .userIcon {
    width: 5.2rem;
    height: 5.2rem;
  }

  .userName {
    display: flex;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: variables.$white;
  }
}

.navigationLinksMobileGreen {
  background: variables.$primary-green;
}

@media (max-width: 1195px) {
  .navigationLink {
    margin-bottom: 3rem;
    color: variables.$main;
  }
}

@media (min-width: 1195px) {
  .navigationLinksMobile {
    display: none;
  }
}
