@use '../../styles/variables';

.services {
  padding-top: 14.6rem;
  padding-bottom: 15rem;
  min-height: 100vh;
}

.servicesHeading {
  display: flex;
  row-gap: 2rem;
  margin-right: 20.1rem;
  margin-bottom: 16rem;
}

.servicesDescription {
  padding-top: 2.9rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  max-width: 60.9rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #707070;
  text-transform: capitalize;
}

.servicesOffer {
  background-image: url('../../images/services-dots.svg');
  background-position: left -7.1rem top 30.7rem;
  background-repeat: no-repeat;
}

.servicesInner {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  padding-top: 10.6rem;
  padding-bottom: 9.9rem;
}

.servicesCardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicesAdvanced {
  width: 76rem;
}

.servicesFree {
  width: 88.1rem;
}

.servicesCardItemImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 39rem;
  height: 38rem;
  padding: 9rem 9.5rem;
  background-color: variables.$dark-main;
}

.servicesCardItemImageWrapperFree {
  order: 1;
}

.servicesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 67rem;
  width: 100%;
  padding: 14.8rem 12.2rem 12.2rem;
  background-color: variables.$dark-main;
}

.cardItemGroup {
  width: 100%;
  max-width: 20.9rem;
}

.cardItemTitle {
  display: inline-block;
  margin-bottom: 1.4rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: variables.$blue;
}

.advanced {
  position: relative;

  &::before {
    position: absolute;
    top: 62%;
    left: -90%;
    margin-right: 0.6rem;
    content: '';
    width: 18.2rem;
    height: 2rem;
    background-image: url('../../images/icons/AdvancedTableBooking-arrow.svg');
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    top: 72%;
    right: 5%;
    content: '';
    width: 8.4rem;
    height: 0.3rem;
    background-color: variables.$primary-red;
  }
}

.cardItemDescription {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.free {
  position: relative;

  &::before {
    position: absolute;
    top: 78.8%;
    left: -0.2px;
    content: '';
    width: 8.4rem;
    height: 0.3rem;
    background-color: variables.$primary-red;
  }

  &::after {
    position: absolute;
    top: 67%;
    left: 154%;
    margin-right: 0.6rem;
    content: '';
    width: 27rem;
    height: 2rem;
    background-image: url('../../images/icons/FoodForFree-arrow.svg');
    background-repeat: no-repeat;
  }
}

.freeTitleRight {
  display: block;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: variables.$blue;
  text-align: right;
}

.servicesCardImage {
  margin-bottom: 9rem;
}

.freeDelivery {
}

.cardItemGroupFree {
  position: relative;
  max-width: 24.4rem;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 19.2rem;
    height: 0.3rem;
    background-color: variables.$primary-red;
  }
}
