@use '../../styles/variables';

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 63.9rem;
  width: 100%;
  padding: 4rem 0 3.7rem 6rem;
  margin-top: -25.7rem;
  background-color: rgba(variables.$primary-red, 0.7);
  border-radius: 0 0 2rem 2rem;
}

.cardTitle {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: variables.$white;
  text-transform: capitalize;
}

.cardDescription {
  max-width: 38.6rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: variables.$white;
  text-transform: capitalize;
}

.cardLabelIcon {
  width: 2rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.cardLabelText {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: variables.$white;
  text-transform: capitalize;
}
