@use '../../styles/variables';

.sectionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 63.6rem;
  margin-left: 5.5rem;
  margin-right: 14.9rem;
  font-style: normal;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 6.2rem;
  text-transform: capitalize;
  color: variables.$blue;

  &::before {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 100%;
    left: -5.5rem;
    top: 0;
    background-color: variables.$primary-red;
  }
}

.services {
  max-width: 30.7rem;
  height: 14rem;
  margin-right: 20.8rem;

  &::before {
    height: 100%;
  }
}

.download {
  max-width: 57rem;
  height: 14rem;
  margin-bottom: 2.1rem;
  margin-right: 0;
  margin-left: 6.3rem;

  &::before {
    height: 100%;
    margin-left: -1rem;
  }
}

@media (max-width: 1300px) {
  .sectionTitle {
    margin-right: 7.3rem;
    font-size: 3.7rem;
  }
}

@media (max-width: 760px) {
  .sectionTitle {
    font-size: 3.6rem;
    margin-right: 0;
    line-height: 1.4;
  }

  .sectionTitle.services {
    margin-left: 1rem;

    &::before {
      left: -0.5rem;
    }
  }
}

@media (max-width: 420px) {
  .sectionTitle {
    font-size: 2.9rem;
    margin-left: 2rem;

    &::before {
      width: 1rem;
      left: -3rem;
    }
  }
}
