@use '../../styles/variables';

.bookButton {
  margin-left: auto;
  margin-top: -1.5rem;
  padding: 2rem 6.4rem;
  border-radius: 10rem 0 0 10rem;
  border: none;
  font-size: 16px;
  background-color: variables.$white;
  color: variables.$primary-red;
  text-transform: capitalize;
}
