.container {
  max-width: 167.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.fullContainer {
  max-width: 194rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.listContainer {
  max-width: 120rem;
  padding-top: 8rem;
  padding-right: 1rem;
}

.blogContainer {
  margin: 0 auto;
  padding-left: 30%;
}

.listImage {
  min-width: 20rem;
  height: 10rem;
}

@media (max-width: 1195px) {
  .navbarContainer,
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 767px) {
  .buttonGroup {
    display: flex;
    align-items: center;
  }

  .listContainer {
    padding-left: 1rem;
  }

  .listImage {
    min-width: 15rem;
  }
}

@media (max-width: 576px) {
  .navbarContainer,
  .container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .listImage {
    min-width: 12rem;
    width: 12rem;
    height: 10rem;
  }
}
