.container {
  max-width: 167.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.fullContainer {
  max-width: 194rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
