.prevSlide {
  right: 24rem;
  background-image: url('../images/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border: none;
  cursor: pointer;
}

.nextSlide {
  right: 13.5rem;
  background-image: url('../images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.prevSlide,
.nextSlide {
  position: absolute;
  width: 6.6rem;
  height: 4.5rem;
  bottom: -20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s;

  &:disabled {
    display: block;
  }
}

.prevSlide {
  &:hover {
    transform: translate(-10%);
  }
}

.nextSlide {
  &:hover {
    transform: translate(10%);
  }
}
