@use '../../styles/variables';

.layout {
  max-width: 192rem;
  margin: 0 auto;
  padding-top: 10.8rem;
}

.layoutRed {
  background: linear-gradient(
    to right,
    transparent 75%,
    variables.$primary-red 25%
  );
}

.layoutGreen {
  background: linear-gradient(
    to right,
    transparent 75%,
    variables.$primary-green 25%
  );
}

.header {
  position: fixed;
  top: 0;
  max-width: 192rem;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    to right,
    variables.$main 75%,
    variables.$primary-red 25%
  );
}

@media (max-width: 768px) {
  .header {
    background: linear-gradient(
      to right,
      variables.$main 75%,
      variables.$primary-red 25%
    );
  }
}

@media (max-width: 768px) {
  .header,
  .layout {
    background: linear-gradient(
      to right,
      variables.$main 60%,
      variables.$primary-red 40%
    );
  }
}

@media (max-width: 500px) {
  .header,
  .layout {
    background: linear-gradient(
      to right,
      variables.$main 60%,
      variables.$primary-red 40%
    );
  }
}
