@use '../../styles/variables';

.cityLabel {
  position: relative;
  left: -3rem;
  display: flex;
  align-items: center;
  width: 28rem;
  margin-top: 9.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background: variables.$primary-red;
  border-radius: 0 10rem 10rem 0;
}

.cityLabelIcon {
  margin-right: 2rem;
}

.cityName {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  color: #ffffff;
  text-transform: capitalize;
}

@media (max-width: 572px) {
  .cityLabel {
    margin-top: 0;
  }
}
