@import '../../styles/variables.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 13rem;
  max-width: 165.2rem;

  .link {
    max-width: 24.5rem;
    margin-right: 20rem;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 10.8rem;
    color: $primary-red;
  }

  .navigationLinks {
    margin-right: auto;
  }

  .navigationLink {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: $blue;

    &:hover {
      color: $primary-red;
      border-bottom: 1px solid $primary-red;
      transition: all 0.1s;
    }
  }

  .navigationLink:not(:last-child) {
    margin-right: 4rem;
  }
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;

  .userName {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;
  }

  .userName::after {
    display: block;
    content: url('../../images/icons/arrow-down.svg');
    margin-left: 0.7rem;
    width: 1rem;
    height: 0.4rem;
  }

  .userIcon {
    width: 5.2rem;
    height: 5.2rem;
    margin-right: 0.9rem;
  }

  &:hover {
    box-shadow: 0 0.7rem 1rem -0.4rem rgba(255, 255, 255, 0.5);
  }
}
