@use '../../styles/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 165.2rem;
  padding-top: 2rem;
  margin: 0 auto;
  transition: all 0.2s;
}

.navigationSmall {
  padding: 0.5rem;
}

.link {
  max-width: 24.5rem;
  margin-right: 20rem;
}

.logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 10.8rem;
  color: variables.$primary-red;
  // transition: all 0.2s;
}

.logoGreen {
  color: variables.$primary-green;
}

.logoSmall {
  font-size: 4rem;
  line-height: 5rem;
}

.navigationLinks {
  margin-right: auto;
}

.navigationLink {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: variables.$blue;
  border-bottom: 0.2rem solid transparent;

  &:hover {
    color: variables.$primary-red;
    border-bottom: 2px solid variables.$primary-red;
    transition: all 0.25s;
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }
}

.navigationLinkGreen {
  &:hover {
    color: variables.$primary-green;
    border-bottom: 2px solid variables.$primary-green;
  }
}

.user {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.7rem 1rem -0.4rem rgba(255, 255, 255, 0.5);
  }
}

.userName {
  display: flex;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: variables.$white;

  &::after {
    display: block;
    content: url('../../images/icons/arrow-down.svg');
    width: 1rem;
    height: 0.4rem;
    margin-left: 0.7rem;
  }
}

.userNameSmall {
  font-size: 1.4rem;
}

.userIcon {
  width: 5.2rem;
  height: 5.2rem;
  margin-right: 0.9rem;
}

.hamburger {
  z-index: 1;
  display: none;
  outline: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 1250px) {
  .navigation {
    flex-wrap: wrap;
  }
  .navigationLinks {
    margin: 0;
  }

  .logo {
    font-size: 6rem;
  }

  .link {
    max-width: 20.5rem;
    margin-right: 0;
  }

  .navigationLink {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 1195px) {
  .user {
    display: none;
  }

  .navigationLinks {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 768px) {
  .navigationLink {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 4.8rem;
  }
}

@media (max-width: 500px) {
  .navigation {
    padding-top: 1.5rem;
  }
}
