@use '../../styles/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 165.2rem;
  padding-top: 2rem;
}

.link {
  max-width: 24.5rem;
  margin-right: 20rem;
}

.logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 10.8rem;
  color: variables.$primary-red;
}

.navigationLinks {
  margin-right: auto;
}

.navigationLink {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  color: variables.$blue;

  &:hover {
    color: variables.$primary-red;
    border-bottom: 1px solid variables.$primary-red;
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }
}

.user {
  display: flex;
  align-items: center;
  border-radius: 1rem;

  &:hover {
    box-shadow: 0 0.7rem 1rem -0.4rem rgba(255, 255, 255, 0.5);
  }
}

.userName {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: variables.$white;

  &::after {
    display: block;
    content: url('../../images/icons/arrow-down.svg');
    width: 1rem;
    height: 0.4rem;
    margin-left: 0.7rem;
  }
}

.userIcon {
  width: 5.2rem;
  height: 5.2rem;
  margin-right: 0.9rem;
}
