@use '../../styles/variables';

.restaurants {
  padding-top: 3.5rem;
}

.restaurantsInner {
  display: flex;
  margin-bottom: 12.2rem;
}

.restaurantsOffer {
  display: flex;
  gap: 4rem;
}

.restaurantCard {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50px;
    background-image: url('../../images/section-2-dots-1.png');
    background-repeat: no-repeat;
    top: -7rem;
    left: 2rem;
  }
}

.restaurantsDescription {
  margin-top: 2rem;
  max-width: 60.9rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.restaurantImage {
  max-width: 63.9rem;
  height: 63.6rem;
  border-radius: 2rem;
}
