@use '../../styles/variables';

.postWrapper {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #e5e9ec;
  transition: all 0.2s ease-in-out;

  & a {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &:hover {
    border-bottom: 0.1rem solid variables.$primary-red;
  }
}

.postWrapperGreen {
  &:hover {
    border-bottom: 0.1rem solid variables.$primary-green;
  }
}
