@use '../../styles/variables';

.download {
  display: flex;
  column-gap: 36rem;
  padding-top: 3.3rem;
  background-image: url('../../images/salad-2.png'),
    url('../../images/download-app-dots.png');
  background-position: right 38.2% top 73.3%, right 20.8% top 35%;
  background-repeat: no-repeat;
}

.downloadWrapper {
  background-color: variables.$dark-main;
}

.downloadHeading {
  display: flex;
  flex-direction: column;
  max-width: 53.9rem;
  margin-top: 35.9rem;
  margin-left: 0.8rem;
}

.downloadDescription {
  width: 53.9rem;
  margin-bottom: 2.8rem;
  max-width: 44.9rem;
  margin-left: 6.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.appImage {
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    transform: translateY(-5px);
  }
}

.downloadButtons {
  &:not(:last-child) {
    margin-left: 6.2rem;
    margin-right: 2rem;
  }
}

.downloadButtons .phoneImage {
  width: 65rem;
}
